

/*--------------------------general stylying------------------------------*/


/*----------------------box-sizing for page-----------------------------*/
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*----------------------true to all links-------------------------------*/

a:link,
a:visited {
    color: #a2a2a2;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #F14848;
}

/*----------------cross-element font-face & capitalizing-----------*/

html,
p{
    font: 100% "Source Sans Pro", san-serif;
}


/* top menues* - inner menue + all titiles on page &engage viewer titles*/
.all-cap,
a > span:only-of-type{
    text-transform: uppercase;


}

/*top menu - first capitalized letter in blogs, <p> & menues*/

.capitalize > li,
.capitalize
{
    text-transform: capitalize;
}


.text-align {
    text-align: center;
}


/*captioning first letter in engage viewer menue*/

figcaption::first-letter {
    text-transform: capitalize;

}



/* ---------------------------buttons--------------------------*/

.btn,
.btn:hover,
.btn:visited{
    background: #F14848;
    border-radius: 26px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.1vw; /*1rem;*/
    font-weight:300;
    padding: 1% 2.5% 1% 2.5%;
            /*18px 30px 18px 30px;*/
    letter-spacing:1px;
    text-align: center;
    margin-top:23px;
    transition-property: margin-top;
    transition-duration: 130ms;

}
.btn:hover {
    box-shadow: 0 10px 25px #ababab;
    margin-top:21px;
}

.btn.btn-negetive,
.btn-negetive:hover {
    color: #F14848;
    background: #fff;
}



/*-------------------------------main menu----------------------------------*/

/*menu positioning*/

body {
    padding-top:66px;
}
nav {
    height:66px;
    padding-left:25px;
    padding-right:10px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;

}


/*nav::after{*/
    /*content: '';*/
    /*display: block;*/
    /*clear: both;*/
/*}*/
nav > a {
    line-height:66px;
    vertical-align: middle;



}

nav > a > img {
    vertical-align: middle;
}



/*menu style*/

nav ul {
    float: right;
    margin-top:0;
    margin-bottom:0;
}

nav > ul > li {
    list-style-type: none;
    float: left;
    line-height: 66px;



}

.nav-links > li > a {
    display: inline-block;
    line-height: 66px;
    padding-right: 10px;
    font-size: 1rem;
    font-weight:300;
    padding-left:10px;
    padding-right: 10px;

    width: 100%;
    height:100%;

}

.nav-links > li:hover > ul {
    position: absolute;
    display: inline-block;
    top:100%;
    left: 0;
    padding-left: 0;
    width:100%;
    height: 140px;
    background-color: #fefdfc;



}

.nav-links > li:hover > ul >li {
    display: inline-block;
    float:left;
    /*padding-left: 10px;*/
    width: 33.3%;
    height: 140px;
    /*height: 10vw;*/

}
.nav-links > li:hover > ul >li a {
    display: inline-block;
    /*height: 10vw;*/
    width: 100%;
    line-height:140px;
    height:140px;
    text-align: center;
    /*padding-bottom: 20px;*/
    /*border: 1px solid red;*/
}



/*need to center the line!!!!!!!*/

.nav-links > li > ul >li:hover ul {
    position: absolute;
    top: 100%;
    left:0;
    display: inline-block;
    float:left;
    width:100%;
    padding-left: 0;
    background-color: #fefdfc
}

.nav-links > li > ul >li:hover ul li{
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height:140px;
    float:left;
    /*padding-right:100px;*/

}
.nav-links > li > ul >li:hover ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 140px;
    /*float: left;*/

}

.nav-links span {
    vertical-align: middle;
    line-height: 1;
    display: inline-block;
    width: 80%;

}
    /*-----------------------------submenues (links)---------------------------*/

.sub-menu{
    display: none;
    font-size: 2.4em;
    font-weight:300;
    
    /*line-height:3em;*/
}

.sub-menu ul{
    display: none;
}
.sub-menu > li  a:hover {
    background: #F14848;
    color: #fff;
}



/*-----------------------------welcom strip----------------------------*/

.welcoming-strip{
    background-image: url("../assets/other/homepage-featured-new-1920x745.jpg");
    width: 100%;
    height: 38.8vw; /*453px;*/
    /*background-position: center center;*/
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:10%;
    color:#fff;


}

.welcoming-strip  h1{
    /*border: 1px solid red;*/
    margin-top:0;
    margin-bottom:0;
    padding-top: 5px;
    font-size: 3vw;/*1.8rem;*/
    font-weight:300;
    line-height:1em;
    word-spacing: .2em;
}

.welcoming-strip  h2 {
    font-size: 5vw; /*3.5rem;*/
    font-weight:300;
    margin-top:0;
    margin-bottom:0;
    line-height:1em;
}




/*----------------------------why comigo------------------------------*/

.slim {
    width:100%;
    height: 355px;
    padding-top:4%;
}

.white-strip h2 {
    font-size: 1.4rem;
    font-weight:300;
    color: #b8b8b8;
    padding: 0 15% 0 15%;
}

.white-strip h5 {
    font-size:2.4rem;
    font-weight:300;
    margin-top: 0;
    margin-bottom:0;

}
/*-----------------------engage viewers srtip--------------------------*/

.background-strip {
    width: 100%;
    height: 39.9vw;
    background-image: url("../assets/videos/video-action-thriller-750x422.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*z-index: -100;*/
    /*padding-top:40px;*/
    position: relative;

    /*display: inline-block;*/
    /*float:right;*/
}

.background-strip h2{
    font-size:1.8rem;
    font-weight:300;
    color: #fff;
}

.background-strip p {
    color: #606060;;
    font-size:1em;
}


.more-info {
    display: inline-block;
    padding-top:40px;
    width: 50%;

}

.more-info li {

    display: block;
list-style-type: none;
margin-bottom: 20px;
}

.more-info a {
    font-size:1.1em;
display: inline-block;
width:110px;
padding: 5px 5px;

}




.background-strip figure {
    /*font-size:.9em;*/
    font-weight:100;
    color:#606060;
    position: absolute;
    right: 3%;
    top: 15%;
    /*margin: 0 auto;*/
    display: none;
    /*float: right;*/

}

.more-info a:hover ~ figure {
    display: inline-block;
    text-align: center;
}

.more-info a:hover ~ figure img {
    width: 85%;
    /*height:34%;*/
}
.more-info a:hover ~ figure figcaption {
    text-align: center;
    color:#fff;
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 1.1rem;
    width: 500px;
    /*margin-bottom: 20px;*/
    /*margin-right: 0;*/

}

.background-strip > div {
width: 10%;
float: left;
margin-left: 10%;
/*margin-top:5%;*/
margin-right:20%;
margin-bottom:0;
    padding-top:35px;
}


/*-----------------------------half-strips-----------------------*/


.half-strip{
    width:50%;
    height: 41.4vw;
    /*display: inline-block;*/
    float:left;
    padding-left:40px;
}

.half-strip h2 {
    font-size:2em;
    font-weight:300;
}


.inhance{
    background-size: 50% auto, cover ;
    background: url("../assets/other/ic_EI_cloud_2_home_page.png"), url("../assets/other/home-tv-service-bg1.png") no-repeat 25% 10%, center center;
    color: #f1f1f1;
    background-repeat: no-repeat;
}

.delpoy {
    background-image: url("../assets/other/ic-stb-screens.png"), url("../assets/other/home-tv-service-bg2.png");
    background-position: 25% 10% , center center;
    background-size: 50% auto, cover ;
    background-repeat: no-repeat;
    text-align: left;
    /*padding-left:30px;*/

}

.delpoy p {
    color: #454545;
}

.half-strip *:nth-child(1) {
    margin-top: 60%;
}

/*------------------------unique expirience strip---------------------------*/

.white-strip.content {

    background-color: #fff;
    background-image: url(../assets/other/screen_whos_on.jpg);
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position:  115% 60%;
    height:741px;

    width:100%;
    /*clear:both;*/
    padding-left:10%;
}

.white-strip.content h5 {
    font-size:52px;
    font-weight:300;
    margin-right:0;
    padding-top: 100px;
    width:15%;
}

.white-strip.content p {

    width: 15%;
}

.white-strip.content a {
    padding: 20px 10px;
}


/*----------------------------floting boxes of demo--------------------------*/

.big{
    height: 45.7vw;
    position: relative;
}

.learn-more {
    display: inline-block;
    width:60%;
    height:22.8vw;
    margin-top: 0;
    background-color: #f9f9f9;

}
.learn-more h3{
    font-size:4vw;
    font-weight:300;
    width: 66%;
    color:#464646;
    padding-top:17%;
    display: inline-block;
    margin-top: 0;
    margin-bottom:0;
}

.learn-more a{
    display: inline-block;
    float: right;
    width:34%;
    background-color: #F14848;
    height:100%;
    color: #fff;
    text-align: center;
    padding-top:33%;
}

.demo {
    float: right;
    display: inline-block;
    background-image: url(../assets/other/screen_demo.jpg);
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: 100% 100%;
    width:40%;
    height: 45.7vw;
    background-color: #efefef;
}

.big .demo > a {
    font-size: 6vw; /*5em ; */
    color:#464646;

}
.big .demo > a span {
    display: inline-block;
    width:100%;
    height: 100%;
}
.social-media.html-links {
    display: inline-block;
    width:25%;
    height:22.8vw;
    margin-top: 0;
    margin-bottom:0;
    background-color: #efefef;
}

.social-media.html-links ul {

    position: absolute;
    top:67%;
    left:2%;

    /*display: block;*/
    width:20%;
    height:20%;
    margin: 0 auto;
    /*margin-top:100px;*/
    /*line-height: 100%;*/
    /*padding-top:125px;*/
    font-size:1.5vw; /*1.5em*/
}
.social-media.html-links li {
    list-style-type:none;
    display: inline-block;
    float: left;
    padding-right:5px;
    padding-left: 5px;
    padding-top: 10px;
}


.meeting {
    display:inline-block;
    height:22.8vw;
    width:35%;
    background-color: #e8e8e8;
    background-image: url(../assets/other/img-event-IBC.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    float: right;
    font-size:1.7vw; /*1.5em*/
}

.meeting a{
    display: inline-block;

    height:100%;
    width: 100%;
}
.meeting a span {
    display: inline-block;
    width: 55%;
    color: #6F6F6F;
    /*border: 1px solid red;*/
}
.meeting a:hover,
.meeting a:active{
    color:#6F6F6F;
}

/*--------------------------------------blog-----------------------------------*/

/*title of blog section*/

.blog-strip ul {
    position: relative;
    /*clear: both;*/
}

.blog-strip li:nth-of-type(1)  {
    background-color:  #F14848;
}

.blog-strip h2 {
    font-size:2.4rem;
    font-weight:300;
    margin-bottom:0;
    /*margin-top:51vh;*/
}

/*blog layout*/

.blog-strip ul{
    padding-left: 0;
    margin: 0 0;
   height: 38.8vw;

}

.blog-strip li{
    height: 38.8vw;
    width: 16.6%;
    display: inline-block;
    float:left;
    /*background-color: rgba(0,0,0, 1);*/
    /*z-index: 100;*/
    /*border:1px solid red;*/

}

/*text in blogs*/
.blog-strip li span:nth-of-type(1){
    position: absolute;
    bottom: 60px ;
    width:16.6%;
    height:52px;
    /*display: inline-block;*/
    /*margin-top: 51vh;   !*116%;*!*/
    /*float: right;*/


    /*padding-top: 116%;*/
}

.blog-strip li span:nth-of-type(2){
    position: absolute;
    bottom: 0;
    width:16.6%;

    /*display:inline-block;*/
    background: red;
    /*border: 1px solid red;*/
    /*width: 100%;*/
    margin-left:0;
    height: 10%;
    line-height:3em;
    /*margin-top: 39px;*/
    /*margin-top: 10%;*/
    /*margin-bottom: 0;*/
    /*float: left;*/
    text-align: center;
    /*margin-bottom:10px;*/
}

/*true to all links in blogs*/
.blog-strip > ul > li:nth-child(1n+2) a{
    display: block;
    height: 100%;
    background-position: center center;
    background-size: cover;
    color: #fff;
    font-size:1rem;
    font-family: "open snas","sans-serif";
}


.blog-strip .blog-title {
    position: absolute;
    top:65%;
    padding-left: 20px;
    height: 185px;
    color: #fff;
    font-size:1rem;
    font-family: "open snas","sans-serif";
    border: 1px solid green;
    width:16.6%;
    /*top: 220px;*/
}

.blog-strip .blog-title h2{
    font-size:4em;
    width: 50%;
    margin-top: 0px;
}

.blog-strip a:hover
{
    color: #fff;
}



.blog-strip li:nth-of-type(2) > a {
    background-image: url(../assets/blog/ibc_post_EI-750x508.png);

}
.blog-strip li:nth-of-type(3) > a {
    background-image: url(../assets/blog/IMG_9294-750x563.jpeg);
}
.blog-strip li:nth-of-type(4) > a {
    background-image: url(../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg);
}
.blog-strip li:nth-of-type(5) > a {
    background-image: url(../assets/blog/post_tv_connect-750x508.jpeg);
}
.blog-strip li:nth-of-type(6) > a {
    background-image: url(../assets/blog/post_quality-750x508.jpeg);
}




/*----------------------------footer menu-----------------------*/


.footer-a-background {
    background: #1E2024;
    /*text-align: center;*/
    width: 100%;
    height: 19.4vw;
    padding-left: 0;
    padding-top: 70px;
    padding-bottom: 40px;
    margin-left: 0;
    /*clear: both;*/
    /*position: relative;*/

}

.footer-a-background > a:last-child{
    float:right;
    margin-right: 100px;
    /*margin-top: 40px;*/
}
.menu-footer-font {
    /*display: inline-block;*/
    width:75%;
    padding-left:0;
    margin-left:0;
    /*margin-top: 40px;*/
    /*border: 1px solid red;*/
}

.menu-footer-font > li {
    /*display: inline-block;*/

    /*height:30px;*/
    list-style-type:none;
    margin-left: 20px;

    width: 25%;
    float: left;




}

.menu-footer-font > li > a {
    display: inline-block;
    color: #fff;
    font-size: .7em;
    font-weight: 300;
    text-align: center;
    height: 20px;
    padding-top: 0;
    line-height:inherit;



}

.menu-footer-font > li ul{
    /*display: block;*/
    /*vertical-align: botto*/
    /*display: block;*/
    /*float: left;*/
    list-style-type:none;
    text-align: center;
    padding: 0;
}

.menu-footer-font > li ul >li{
    width: 100%;

}

.menu-footer-font > li ul >li a {
    display: inline-block;
    width: 100%;
    font-size: .7em;
}
.footer-b-background {
    /*clear: both;*/
}


/*--------------------------footer rights--------------------------------*/

.footer-b-background {
    background: #151515;
    height:3.1vw;
    text-align: center;

}


.rights-and-more {
    /*display: inline-block;*/
    background:  #151515;
    margin: 0 auto;
    width: 90%;
    max-width: 1050px;

}

small {
    display: inline-block;
    float: left;
    color: #474747;
    margin-right:10px;
    margin-top:0;
}


.buisness-links li {
    display: inline-block;
    list-style-type: none;
    word-spacing:1px;
    float: left;
    color: #474747;
    margin-top:0;
    margin-right:10px;

}
.buisness-links li {

}

.buisness-links a {
    border-left: 1px solid #474747;
    color: #474747;
    padding-left: 6px;
    padding-right:4px;
}
.buisness-links a:hover{
    color: #a2a2a2;
}
.social-media.buttom-links{
    margin: 0;
    float: right;
}
.social-media.buttom-links li{
    display: inline-block;

}
.footer-b-background p:last-child,
.footer-b-background p:last-child a{
    display: inline;
    color: #474747;
    font-size: .9em;

}
.footer-b-background p:last-child a:hover {
    color: #a2a2a2;
    /*border:1px solid red;*/
}

.buttom-links {
    display: inline-block;
}





    /*sub-titiles in page*/


h3{

}





/*----------------------------relative sizing------------------------------*/


/*main menu*/
@media (max-width: 700px) {

    .nav-top {
        display: none;
    }


}

                        /*footer manu temp*/
@media (max-width: 1200px) {
    .menu-footer-font,
    .rights-and-more {
        max-width: 880px;
     }
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
